/* .......................................................................................;;VARIOS ELEMENTOS DO SITE- e os elementos pai (body e .container>...................................................................................... */

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 87%;
  max-width: 328px;
  font-family: Roboto;
  font-size: 16px;
}

a{
  text-decoration: none;
}

header, form, section, .container, nav{
  font-family: Roboto, Helvetica ;
}

/* .................................................................................................................................. */



/* HEADER 1 */
header {
  box-sizing: border-box;
  height: 2.6em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header figure {
  margin: 0; /*Coloquei porque estava ganhando margin automatica , mesmo com o reset*/
}

header img {
  width: 8em;
}

header a {
  color: #f11075;
  font-size: 0.9em;
  font-weight: 600;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°Link entrar em hover */
header a:hover{
  color: #fe0a78;
  font-weight: bold;
  font-size: 1.1em;
}

/* ............SECTION, do título ao onibus rosa ... */
section {
  color: white;
  padding: 0.8em 0.8em 2em 0.8em;
  background-color: #f11075;
}

/* Título */
h1, p{
  cursor: default;
}

h1 {
  margin: 0 2em 0 0; /*Coloquei pq estava dando uma margin automatica que nao saia com o reset*/
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  
}

p {
  margin: 0.7em 0;
  font-size: 1em;
  letter-spacing: 0.1ch;
  font-weight: 200;
}

/* inicio das caixas de pesquisa */
form {
  background-color: white;
  color: black;
  padding: 0.8em 0.8em 0.01em 0.8em;
  border-radius: 8px;
}

form label {
  font-size: 0.75em;
  opacity: 0.7;
  font-weight: 600;
}

form input,
form button {
  display: block;
  width: 100%;
  height: 2.2em;
  margin-bottom: 0.8rem;
  border-radius: 6px;
}

form button {
  background-color: #f11075;
  border: none;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}

form input {
  border: solid 1.9px rgba(218, 207, 207, 0.997);
  opacity: 0.7;
  font-size: 0.9em;
  padding-left: 1em;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°botão quando ativo */
form button:hover{
  background-color: #fe0a78;
  width: 93%;
  margin: 0 auto 0.8rem auto;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

/* IMagem do onibus */
img.onibus {
  width: 100%;
  margin-top: 1em;
}

/* Barra infeerio de navegção */
nav {
  display: flex;
  justify-content: space-around;
  padding: 0.4em;
}


nav button {
  display: inline-block;
  font-size: 0.7em;
  border: none;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°button quando hover */

  nav a:hover{
    font-weight: bold;
  }

/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°/ */

nav img {
  width: 1.3em;
  display: block;
  margin: auto;
}

/* Imagem chata que é maior que as outras :/ :/ :/*/
.imagemchatademais {
  width: 0.8em;
}
.imagemchatademais2{
  width: 1em;
}
