
@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
}


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 87%;max-width: 328px;
  font-family: Roboto;
  font-size: 16px;
}



/* HEADER 1 */
header {
  box-sizing: border-box;
  height: 2.6em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header figure {
 margin: 0; /*Coloquei porque estava ganhando margin automatica , mesmo com o reset*/
}

header img {
  width: 8em;
}

header a {
  color: #f11075;
  font-size: 0.9em;
  font-weight: 600;
}


/* ............SECTION, do título ao onibus rosa ... */
section {
  color: white;
  padding: 0.8em 0.8em 2em 0.8em;
  background-color: #f11075;
}

/* Título */
h1 {
  margin: 0 2em 0 0; /*Coloquei pq estava dando uma margin automatica que nao saia com o reset*/
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  margin: 0.7em 0;
  font-size: 1em;
  letter-spacing: 0.1ch;
  font-weight: 200;
}


/* inicio das caixas de pesquisa */
form {
  background-color: white;
  color: black;
  padding: 0.8em 0.8em 0.01em 0.8em;
  border-radius: 8px;
}

form label {
  font-size: 0.75em;
  opacity: 0.7;
  font-weight: 600;
}

form input,
form button {
  display: block;
  width: 100%;
  height: 2.2em;
  margin-bottom: 0.8rem;
  border-radius: 6px;
}

form button {
  background-color: #f11075;
  border: none;
  color: white;
  font-size: 0.9em;
}

form input {
  border: solid 0.2px rgba(218, 207, 207, 0.997);
  opacity: 0.7;
}




/* IMagem do onibus */
img.onibus {
  width: 100%;
  margin-top: 1em;
}



/* Barra infeerio de navegção */
nav {
  display: flex;
  justify-content: space-around;
  padding: 0.4em;
}

nav button {
  display: inline-block;
  max-width: 29%;
  font-size: 0.7em;
  border: none;
  background-color: white;
  opacity: 0.5;
}

nav img {
  width: 1.3em;
  display: block;
  margin: auto;
}



/* Imagem chata que é maior que as outras :/ :/ :/*/
.imagemchatademais {
  width: 0.8em;
}
